@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: url("../public/cursor.png"), auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: auto;
}
a {
  cursor: url("../public/cursor.png"), auto;
}
body::-webkit-scrollbar {
  display: none;
}
.section {
  scroll-snap-align: start;
}
.back {
  background-image: url("../public/group.png"),
    linear-gradient(
      266deg,
      rgba(230, 246, 255, 0.5) 0%,
      rgba(215, 197, 255, 0.09) 100%
    );
  background-size: cover;
}
.Box-Title {
  font-size: 26px;
  z-index: 1000;
}
.Box-Desc {
  z-index: 1000;
  font-size: 14px;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
  width: 64%;
}

.box-shadow-button {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: moveLeftAndRight 1s infinite;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.box-shadow-button-left {
  box-shadow: rgba(100, 100, 111, 0.2) -7px 7px 29px 0px;
  animation: moveLeftAndRight-left 1s infinite;
}

@keyframes moveLeftAndRight-left {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes moveLeftAndRight {
  0% {
    transform: translateX(30px);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(30px);
  }
}

.box-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  border-radius: 32px;
}
.box-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  border-radius: 32px;
  grid-row-end: 2;
  grid-column-end: 4;
}
.box-2 {
  grid-row-start: 2;
  grid-column-start: 3;
  border-radius: 32px;
  grid-row-end: 3;
  grid-column-end: 4;
}
.box-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  border-radius: 32px;
  grid-row-end: 3;
  grid-column-end: 3;
}
.box-4 {
  grid-row-start: 3;
  grid-column-start: 1;
  border-radius: 32px;
  grid-row-end: 4;
  grid-column-end: 3;
}
.box-5 {
  grid-row-start: 3;
  grid-column-start: 3;
  border-radius: 32px;
  grid-row-end: 4;
  grid-column-end: 4;
}

/* styles/LoadingAnimation.module.css */
.loading {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 36px;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: #333;
  margin-right: 4px;
  animation: bounce 1.5s infinite;
}
.dot:nth-child(2) {
  animation-delay: 0.1s;
}
.dot:nth-child(3) {
  animation-delay: 0.2s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .resp {
    font-size: 79px;
  }
  .cur1 {
    right: 14%;
  }
}

@media (min-width: 1024px) and (max-width: 1260px) {
  .angry-grid {
    width: 80%;
  }
  .curs4 {
    right: 20px;
  }
  .curs5 {
    left: 40px;
    bottom: 30%;
  }
  .curs6 {
    top: 200px;
    right: 20px;
  }
}

@media (min-height: 1441px) and (min-width: 800px) {
}
