@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: url("../public/cursor.png"), auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: auto;
}
a {
  cursor: url("../public/cursor.png"), auto;
}
body::-webkit-scrollbar {
  display: none;
}
.section {
  scroll-snap-align: start;
}
.back {
  background-image: url("../public/group.png"),
    linear-gradient(
      266deg,
      rgba(230, 246, 255, 0.5) 0%,
      rgba(215, 197, 255, 0.09) 100%
    );
  background-size: cover;
}
.Box-Title {
  font-size: 26px;
  z-index: 1000;
}
.Box-Desc {
  z-index: 1000;
  font-size: 14px;
}

.angry-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
  width: 60%;
}

.box-0 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  border-radius: 32px;
}
.box-1 {
  grid-row-start: 1;
  grid-column-start: 2;
  border-radius: 32px;
  grid-row-end: 2;
  grid-column-end: 4;
}
.box-2 {
  grid-row-start: 2;
  grid-column-start: 3;
  border-radius: 32px;
  grid-row-end: 3;
  grid-column-end: 4;
}
.box-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  border-radius: 32px;
  grid-row-end: 3;
  grid-column-end: 3;
}
.box-4 {
  grid-row-start: 3;
  grid-column-start: 1;
  border-radius: 32px;
  grid-row-end: 4;
  grid-column-end: 3;
}
.box-5 {
  grid-row-start: 3;
  grid-column-start: 3;
  border-radius: 32px;
  grid-row-end: 4;
  grid-column-end: 4;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .resp {
    font-size: 79px;
  }
}