@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: auto;
}
body::-webkit-scrollbar {
    display: none;
}
.section {
    scroll-snap-align: start;
}
.back {
    background-image: url("../public/group.png"), linear-gradient(266deg, rgba(230, 246, 255, 0.50) 0%, rgba(215, 197, 255, 0.09) 100%);
    background-size: cover;
}

.boxes { 
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "box1 box2 box2"
      "box1 box3 box4"
      "box5 box5 box6";
  }
  
  .box1 { grid-area: box1; }
  
  .box2 { grid-area: box2; }
  
  .box3 { grid-area: box3; }
  
  .box4 { grid-area: box4; }
  
  .box5 { grid-area: box5; }
  
  .box6 { grid-area: box6; }
  
  